* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* *********Header section******** */
.nav-section {
  padding: 0 2.5rem;

  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  background-color: #425e68;
}

.nav-section.sticky {
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.05);
}

/* sticky navigation */
/* .sticky .hero-section {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
} */

.main-nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-nav-list {
  width: 12%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
}

.nav-icon {
  display: flex;
  align-items: center;
  gap: 32px;
}

.icons,
.icons:link,
.icons:visited {
  color: #eceeef;
  height: 2rem;
  width: 2rem;
  border: 1px solid #eceeef;
  border-radius: 50%;
  padding: 5px;
}

.icons:hover,
.icons:active {
  background-color: #2e4148;
  cursor: pointer;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #eceeef;
  text-decoration: none;
  font-weight: 400;
  /* letter-spacing: 0.1rem; */
}
.main-nav-link::after {
  content: "";
  display: block;
  margin: auto;
  width: 0%;
  background-color: #eceeef;
  height: 2px;
  border-radius: 2px;
  transition: 0.7s;
  margin-top: 2px;
}

.main-nav-link::before {
  content: "";
  display: block;
  margin: auto;
  width: 0%;
  background-color: #eceeef;
  height: 2px;
  border-radius: 2px;
  transition: 0.7s;
  margin-bottom: 1px;
}

.main-nav-link:hover:after,
.main-nav-link:active:after {
  width: 100%;
}

.main-nav-link:hover::before,
.main-nav-link:active:before {
  width: 100%;
}

.logo-container {
  width: 4%;
}

.logo {
  height: 80px;
  cursor: pointer;
}

/* section pic */

.header-background {
  background-color: #eceeef;
}

.aboutus-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/about.jpg");
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10% 10%;
}

.aboutus-pic h1 {
  font-size: 64px;
  color: white;
  text-shadow: 0 0 2px black;
}

.aboutus-container {
  display: flex;
  background-color: #eceeef;
}

.aboutus-container img {
  height: auto;
  width: 50%;
}

.aboutus-contents {
  text-align: left;
  padding: 100px;
  font-size: 20px;
  color: #06090a;
}

.aboutus-contents h3 {
  font-size: 30px;
  margin: 15px 0;
}

.aboutus-contents p {
  margin-bottom: 10px;
}

/* footer */
footer {
  padding: 50px 100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}
footer .col {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

.follow {
  margin-top: 20px;
}

.follow i {
  color: #425e68;
  padding-right: 4px;
  cursor: pointer;
}
.payment-partners img {
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.follow i:hover,
footer a:hover {
  color: #2e4148;
}

footer .links a:hover {
  color: #a4c1cc;
}
